<div class="row">
    <div class="col-lg-12 col-md-6 single-blog">
        <div class="thumb">
            <img class="img-fluid" [src]="teacherInput.img" alt="" style="width: 200px;height: 150px;">								
        </div>
        <h5 class="meta">{{teacherInput.firstName}}{{teacherInput.lastName}}</h5>
        
          
      
            <h5>{{teacherInput.speciality}}</h5>
        <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>		
    </div>
   
</div>
