
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col"> Name Cours</th>
        <th scope="col">Description</th>
        <th scope="col">Dure</th>
        <th scope="col">First Name Teacher</th>
        <th scope="col">Last Name Teacher</th>
         <!-- <th scope="col">Speciality</th>  -->
           <!-- <th scope="col">first Name student </th> 
      <th scope="col">Last Name student </th>    -->
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cour of cours">
        <th scope="row">{{cour._id}}</th>
        <td>{{cour.nameCour}}</td>
        <td>{{cour.description}}</td>
        <td>{{cour.dure}}</td>
        <td>{{cour.teacher.firstName}}</td>
        <td>{{cour.teacher.lastName}}</td>
       
  
       <td>
          <button *ngIf="isLoggedIn() && user.role=='teacher'||user.role=='admin'" type="button" class="btn btn-outline-warning" (click)="goToDisplay(cour._id)">
            Display</button>
           
          <button *ngIf="isLoggedIn() && user.role=='student'" type="button" class="btn btn-outline-warning" (click)="goToNote(cour._id)">Select Note </button>
          <button *ngIf="isLoggedIn() && user.role=='teacher'||user.role=='admin'" type="button" class="btn btn-outline-success" (click)="goToEdit(cour._id)">Edite</button>
          <button *ngIf="isLoggedIn() && user.role=='teacher'||user.role=='admin'" type="button" class="btn btn-outline-danger" (click)="delete(cour._id)">Delete</button>
           
        </td>
      </tr>
    
      
    </tbody>
  </table>


