<div >
    <div class="single-contact-address d-flex flex-row">
       
        <div >
            <h1 style="margin-bottom: 30px; margin-left: 400px;"></h1>
           
        </div>
    </div>
    
                                                       
</div>
<div class="row"> 
  <div class="col-md-8 mx-auto">
    <div *ngIf="cour" class="text-center">
      <h3 class="mb-4">Cours Details</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name Cours</th>
            <th scope="col">Description</th>
            <th scope="col">Students Affected</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color: black;">{{ cour.nameCour }}</td>
            <td style="color: black;">{{ cour.description }}</td>
            <td>
              <ul  style="color: black;">
                <li  *ngFor="let student of cour.students">
                  {{ student.firstName }} {{ student.lastName }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





<!-- <div class="row"> 
  <div class="col-md-8">
<div *ngIf="cour"  style="margin-left: 400px;">
    <h3>Cours Details</h3> -->
    <!-- <p style="color: black;"> {{ cour._id }}</p> -->
    <!-- <p style="color: black;">Name Cours: {{ cour.nameCour }}</p>
    <p style="color: black;"> {{ cour.description }}</p> -->
    <!-- <p style="color: black;"> {{ cour.dure }}</p> -->
  
    <!-- <h3>students Affected</h3>
    <ul>
      <li *ngFor="let student of cour.students">
        {{ student.firstName }} {{ student.lastName }}
      </li>
    </ul>
  </div>
</div>
</div> -->