
 <!-- Start popular-course Area -->
 <section class="popular-course-area section-gap">
    <div class="container">				
         <div class="row"> 
             <!-- <div class="col-md-12">  -->
                <div class="col-md-12">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <!-- <div class="overlay overlay-bg"></div> -->
                            <img class="img-fluid" [src]="coursInput.avatar" alt="" style="width: 150px;height: 150px;">
                            </div>
                        <div class="meta d-flex justify-content-between">
                            <h4>{{coursInput.nameCour}}</h4>
                        </div>									
                    </div>
                    <div class="details"> 
                            <h4>
                              {{coursInput.description}}
                            </h4>
                        <p>
                           {{coursInput.dure}}
                        </p>
                    </div>
                </div>	
            <!-- </div>   -->
        </div>
    </div>	
</section>
<!-- End popular-course Area -->

