

<table class="table table-dark">
    <thead>
        
      <tr>
        <th scope="col">ID</th>
        <th scope="col"> First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Tel</th>
        <th scope="col">Adresse</th>
        <th scope="col">Speciality</th>
        <th scope="col">Tel Enfant</th>
        <th scope="col">Role</th>
        <th scope="col">status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let user of users">
        <th scope="row">{{user._id}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.tel}}</td>
        <td>{{user.adresse}}</td>
        <td>{{user.speciality}}</td>
        <td>{{user.telEnfant}}</td>
        <td>{{user.role}}</td>
        <td>{{user.status}}</td>
        
       
        <td>
            <button type="button" class="btn btn-outline-warning" (click)="goToDisplay(user._id)">display</button> 
            <button type="button" class="btn btn-outline-success" (click)="goToEdit(user._id)">Edite</button>
             <button type="button" class="btn btn-outline-danger" (click)="delete(user._id)">Delete</button>
           
        </td>
      </tr>
    
      
    </tbody>
  </table>


